* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#BABEC8;

}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 2vw 5vw;
    z-index: 1;
}


.logo_black {
    display: flex;
    width:3vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

.img-negro {
    width: 3vw;
    height: auto;
}

nav {
    display: flex;
    gap: 3.7vw;
    margin-left: 10vw;
    backdrop-filter: blur(8px);
    width: 44vw;
    height: 4vw;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@font-face {
    font-family: 'fuente1';
    src: url('../fonts/Oswald-Light.ttf');
}

.menu {
    color: #000000;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: 'fuente1',Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.mod-cristal {
    width: 3vw;
    height: 3vw;
    border-radius: 20%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5vw;
    position:absolute;
}

.bloque-negro {
    background-color: #000000;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-modo-oscuro {
    width: 1.4vw;
    height: 1.4vw;
}

.luna {
    width: 1.4vw;
    height: 1.4vw;
}

.contenedor-img-right {
    position: relative;
    overflow: hidden;
    height: 40vw;
}

.piedraright {
    position: absolute;
    width: 46vw;
    top: -9vw;
    right: -5vw;
}

.contenedor-gradien-right {
    position: absolute;
    width: 39vw;
    height: 10vw;
    top: 26vw;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(186, 190, 200, 1));
}

.contenedor-img-left {
    position: relative;
}

.piedraleft {
    position: absolute;
    width: 22vw;
    left: -5vw;
    top: -12vw;
}

.contenedor-gradien-left {
    position: absolute;
    width: 16vw;
    height: 10vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(186, 190, 200, 1));
    top: 0vw;
}

@font-face {
    font-family: 'fuente2';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

.hello {
    padding: 0 20vw;
    font-size: 1vw;
    top: -25vw;
    position: relative;
    font-family: 'fuente2','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face{
    font-family: 'fuente3';
    src: url(../fonts/Oswald-Light.ttf)
}

.ing {
    padding: 0 20vw;
    font-size: 7vw;
    top: -25vw;
    position: relative;
    font-family: 'fuente3';
    color:rgba(19, 19, 19, 0.925);
    font-weight:500;
}

.contenedor-objetivo {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px;
    grid-template-areas: 
    "a a b"
    "a a b";
    justify-content: center;
    margin: 0px auto;
    width: 60%;
    font-family: 'fuente3';
    font-size: 1.5vw;
    top: -9vw;
    position: relative;
}

.h-description {
    grid-area: a;
}

.button-linkedil {
    border: solid 1px #000000;
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    border-radius: 40px;
}

.h-contacto {
    grid-area: b;
    padding-left: 30%;
}

.text-contac {
    padding-bottom: 35%;
}

.text-titulo {
    padding: 6vw 20vw;
    font-size: 7vw;
    font-family: 'fuente2';
}

.container-cv {
    padding: 0vw 20vw;
}

.subtitle-educacion {
    font-size: 2vw;
    font-family: 'fuente3';
    border-bottom: solid 0.1vw #000000;
    padding: 5vw 0vw;
}

.container-educacion {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 14vw;
    border-top: solid 0.1vw #000000;
    border-bottom: solid 0.1vw #000000;
    font-family: 'fuente3';
    gap: 10vw;
}

.fecha-graduacion {
    font-size: 1.3vw;
}

@font-face {
    font-family: 'fuente1';
    src: url(../fonts/Oswald-ExtraLight.ttf);
}

.nom-escuela{
    font-weight:bold;
    font-size: 2vw;
}

.nom-Titulo {
    font-family: 'fuente1';
    font-size: 1.4vw;
}

.subtitle-experiencia {
    font-size: 2vw;
    font-family: 'fuente3';
    padding: 5vw 0vw;
    border-top: solid 0.1vw #000000;
    border-bottom: solid 0.1vw #000000;
}

.container-experiencia1 {
    display: flex;
    justify-content:space-between;
    width: 100%;
    border-top: solid 0.1vw #000000;
    border-bottom: solid 0.1vw #000000;
    font-family: 'fuente3';
    gap: 2vw;
    padding: 3vw 0vw;
}

.cont-ep1 {
    width: 40vw;
    font-size: 1vw;
}

.actividades1 {
    font-size: 1vw;
}

.are1 {
    font-family: 'fuente1';
}

.cont-uf1 {
    width: 25vw;
    font-size: 1vw;
    text-align: end;
}

.fecha1 {
    font-family: 'fuente1';
}

.subtitle-Herramienta {
    font-size: 2vw;
    font-family: 'fuente3';
    padding: 5vw 0vw;
    border-top: solid 0.1vw #000000;
}

.container-herramientas {
    width: 100%;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap: 0.8vw;
    margin: 5vw 0vw;
}

.img-hm {
    width: 14vw;
    height: 14vw;
    border-radius: 15px;
    border: solid 0.5px #000000;
    font-size: 1vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.logos-h {
    width: 10vw;
    height: auto;

}
/*
.contenedor-tarjet {
    position: relative;
    width: 100%;
    height: 30vw;
    margin: 5vw 0vw;
    border-radius: 15px;
    display: flex;
    align-content:space-between;
    padding: 1vw;
    border: solid 1px #000000;
}

*/

.stack {
  height: 300vh; /* espacio para scroll */
  position: relative;
}

.card {
  position: sticky;
  top: 150px; /* TODAS se quedan en el mismo punto */
  background:#BABEC8;
  display: flex;
    width: 100%;
    height: 30vw;
    margin: 5vw 0vw;
    border-radius: 15px;
    align-content:space-between;
    padding: 2vw;
    border: solid 1px #000000;
    will-change: transform;

}


.tarjet-titulo {
    font-family: 'fuente1';
    font-size: 3vw;
}

span.size-icono {
    margin: 4vw 0vw;
    font-size: 4vw;
    font-variation-settings: 'OPSZ' 40;
}

.tarjet-descripcion {
    position: absolute;
    bottom: 1vw;
    font-family: 'fuente1';
    font-size: 1.7vw;
}

.img-tarjet1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25vw;
    height: auto;
}